<!DOCTYPE html>
<html>
<head>
    <title>Tabel Clienti</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .adauga-form {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Tabel Clienti</h1>
    <a href="/">Înapoi la Pagina Principală</a>
    <button onclick="toggleForm()">Adaugă Client</button>

    <div id="adaugaForm" class="adauga-form">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Adaugă Client</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Adresa</th>
                <th>Acțiuni</th> 
            </tr>
        </thead>
        <tbody>
            {% for client in clienti %}
                <tr>
                    <td>{{ client.nume }}</td>
                    <td>{{ client.prenume }}</td>
                    <td>{{ client.adresa }}</td>
                    <td><a href="{% url 'sterge_client' client.id %}">
                            <button>Sterge</button>
                        </a>
                        <a href="{% url 'modifica_client' client.id %}">
                            <button>Modifică clientul</button>
                        </a>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function toggleForm() {
            var form = document.getElementById('adaugaForm');
            form.style.display = (form.style.display === 'none') ? 'block' : 'none';
        }
    </script>
</body>
</html>